<h1>I love planets.</h1>
<br />

<h2>Do you?</h2>
<br />

<%= link_to "Click here to add your own favorite planet.", new_planet_path %>
<br />
<%= link_to "Click here to view ALL of our favorite planets.", planets_path %>
